.rw-wrapper { /*The entire Our Mission section*/
  width: 80%;
  position: relative;
  margin: 110px auto 0 auto;
  font-family: 'Bree Serif';
  padding: 10px
}

.rw-sentence { /*the h4 of Our Mission*/
  margin: 0;
  text-align: left;
  text-shadow: 1px 1px 1 px rgba(255, 255, 255, 0.8)
}

.rw-sentence span { /*the words within the span element within the rw-sentence*/
  color: #d0cece;
  white-space: nowrap;
  font-size: 200%;
  font-weight: normal;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.2);
  font-weight: bold;
  font-family: 'Lekton', sans-serif;
}

.rw-words { /*the words in place of mission*/
  display: inline;
  text-indent: 10px;
  font-family: 'Lekton', sans-serif;
}

.rw-words span {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  padding-bottom: 40px;
  width: 100%;
  color: #6b969d;
  font-family: 'Lekton', sans-serif;
}

.rw-words-1 span {
  animation: rotateWordsFirst 18s linear infinite 0s;
}

.rw-words span:nth-child(2) {
  animation-delay: 3s;
  color: #6b889d;
}

.rw-words span:nth-child(3) {
  animation-delay: 6s;
  color: #6b739d
}

.rw-words span:nth-child(4) {
	animation-delay: 9s;
	color: #7a6b9d;
}

.rw-words span:nth-child(5) {
	animation-delay: 12s;
	color: #8d6b9d;
}

.rw-words span:nth-child(6) {
	animation-delay: 15s;
	color: #9b6b9d;
}

@keyframes rotateWordsFirst {
    0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
	25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
  }

body {
  background: #848484;
  font-family: 'Lekton', sans-serif;
  color: white;
}

h1, h3, h4, header .btn {
  font-weight: 700;
}

h1 {
  margin-bottom: 25px;
  font-size: 2.3rem;
  text-align: center;
  text-shadow: 3px 3px 4px rgba(255,255,255,0.2);
}

#titlecomplit {
  font-size: 5rem;
  font-weight: 700;
  font-family: 'Lekton', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#foryou {
  font-family: 'Lekton', sans-serif;
  font-size: 3rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3 {
  font-family: 'Lekton', sans-serif;
  margin-bottom: 25px;
  font-size: 2.3rem;
  text-align: center;
  text-shadow: 5px 5px 3px rgba(255,255,255,0.2);
}

h4 {
  font-size: 2rem;
  font-family: 'Lekton', sans-serif;
}

h3:after {
  content: '';
  display: block;
  width: 50%;
  padding-top: 5px;
  /* border-bottom: 3px solid whitesmoke; */
}

h1 + h4 {
  font-family: 'Lekton', sans-serif;
  font-weight: normal;
}

a {
  text-align: center;
  outline: none;
  display: inline-block;
  text-decoration: none;
  background: #ebe2d9;
  font-size: 14px;
  color: steelblue;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: all ease .3s;
          transition: all ease .3s;
}

.btn {
  font-size: 1.2em;
  border-radius: 5px;
  padding: 12px 30px;
}

.block {
  width: 130px;
  margin: 0 auto;
  display: block;
}

header .btn {
  text-transform: uppercase;
}

header a:hover, .about a:hover {
  background: #d2c9b2;
}

header .btn, .services {
  margin-top: 100px;
}

header {
  padding: 80px 0 150px;
}

.about, .contact {
  padding: 150px 0;
}

#homepageheader {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2) ),
  url("https://images.pexels.com/photos/34075/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat fixed center /
cover;
}

h5{
  text-align: right;

}
h6 {
  text-align: left;

}

nav ul, .contact ul {
  list-style: none;
  font-size: 0;
}

nav li, .contact li {
  margin-bottom: 0;
  display: inline-block;
}

nav li {
  width: 50%;
}

nav a {
  position: relative;
  width: 100%;
  height: 30px;
  padding: 7px 0;
  line-height: 30px;
}

nav li:nth-child(2n+1) a:after {
  position: absolute;
  content: '';
  top: 19.5px;
  right: -2.5px;
  z-index: 10;
  border-radius: 100%;
  background: steelblue;
  width: 5px;
  height: 5px;
}

.services a {
  padding: 25px;
  background: #fafafa;
  margin-top: 20px;
  border-radius: 4px;
  max-width: 50%;
  box-sizing: border-box;
}

.services a:hover {
  color: black;
}

.services span {
  font-size: 5.5em;
  color: #d2c9b2;
}

.services a:hover span {
  color: white;
}

.services p {
  margin: 15px 0 0;
}

.about {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4) ),
  url("https://images.pexels.com/photos/904616/pexels-photo-904616.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat fixed center / cover;
  color: #ffffff;
}

.about .one-third,
.about .two-thirds {
  background: white;
  background: rgba(255,255,255,.3);
  padding: 10px;
  padding-left: 170px;
  padding-right: 370px;
  border-radius: 5px;
  position: center;
}

.about .one-third {
  margin-top: 20px;
}

.about a {
  margin-top: 10px;
}

.about ul {
  margin-bottom:18px;
}

.about h3:after, .contact h3:after {
  border-color: black;
}

.about .center {
  text-align: center;
}

.about .bottom {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.about .one-third a {
  margin: 5px auto;
  width: 30%;
  display: block;
}

.about .two-thirds p:last-child {
  margin-bottom: 0;
}

.contact {
  color: black;
  text-align: center;
}

.contact p {
  margin: 20px 0 0;

}

.contact ul a {
  margin-top: 50px;
  box-shadow: none;
  background: none;
  margin-left: 30px;
}

.contact li:nth-child(1) a {
  margin-left: 0;
}

.contact span {
  font-size: 2em;
  color: white;
  -webkit-transition: color ease .4s;
          transition: color ease .4s;
}

.contact span:hover {
  color: steelblue;
}

.contact .btn-blue {
  position: relative;
  margin-top: 30px;
  color: white;
  background: steelblue;
  box-shadow: 0 8px #667ba2;
}

.contact .btn-blue:hover {
  background: #667ba2;
  color: white;
}

.contact .btn-blue:after {
  position: absolute;
  content: '☃';
  top: 5px;
  right: 30px;
  font-size: 1.6em;
}

.contact .btn-blue:active {
  box-shadow: 0 4px #667ba2;
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px);
}

.contact .creator a {
    background: none;
}
@media (min-width: 55px) {

  nav li {
    width: auto;
  }

  a {
    box-shadow: 0 8px #667ba2;
  }

  nav a {
    padding: 7px;
    border-right: 1px solid #6d6a62;
    width: 80px;
  }

  nav li:nth-child(2n+1) a:after {
    content: none;
  }

  nav li:last-child a {
    border-right: none;
  }

  header a:hover, .about a:hover {
    box-shadow: 0 8px #b99179;
  }

  header a:active, .about a:active {
    box-shadow: 0 4px #f4ba04;
    -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
            transform: translateY(4px);
  }

  .about .one-third {
    margin-top: 0;
  }

  .about .one-third a {
    width: 35%;
  }

  .contact .creator a {
    box-shadow: none;
  }

}



@media (min-width: 750px) {

  h1 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2.8rem;
  }

  h4 {
    font-size: 2.4rem;
  }

  .services a:hover {
    box-shadow: 0 -8px white;
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15);
  }

  .contact ul a {
    margin-left: 45px;
  }

  .contact ul span {
    font-size: 3em;
  }

}

