body, html {
  /* margin-left: -.5vw; */
  /* margin-right: -2vw; */
  margin-top: -5vw;
}

#title {
  text-align: center;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ),
    url("https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=954560871844da528c60343dc344ccbf&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%
  margin: auto;
  padding-top: 20vw;
  padding-bottom: 25vw;
  padding-left: 9vw;
  margin-left: -3vw;
  font-size: 5em;
  color: white;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.2);
  font-family: 'Lekton', sans-serif;
  }

topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav {
  list-style-type: none;
  background-color: none;
  overflow: auto;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  float: left;
}

.topnav a {
  margin-left: 20px;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  display: inline;
  font-family: 'Source Code Pro', monospace;
}

.topnav a:hover {
  background-color: black;
  color: white;
}

.topnav a.active {
    background-color: black;
    color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav-fixed-top a:not(:first-child) {display: none;}
  .topnav-fixed-top a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav-fixed-top.responsive {position: relative;}
  .topnav-fixed-top.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

.topnav-fixed-top.responsive a {
  float: none;
  display: block;
  text-align: left;
}
