#alltimefavesheader {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2) ),
  url("https://images.pexels.com/photos/267684/pexels-photo-267684.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat fixed center /
cover;
  text-align: center;
  font-family: 'Lekton', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#favestitle {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
